<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MQ Homepage</title>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <header>
            <div class="parent_div">
                <div class="topnav">
                    <a class="active" href="http://127.0.0.1:5000">Home</a>
                    <a class="option" href="http://127.0.0.1:5000/gallery">Gallery</a>
                    <a class="option" href="http://127.0.0.1:5000/events">Events</a>
                </div>
        </header>
        
                <div class="grid_container">
                    <div class="grid_item">
                        <h1>Media Query Homepage</h1>
                    </div>
                    <div class="grid_item">
                        <p>My name is Anna Wilson and this is my Media Query testing site. On this site, I am learning how to encorporate MQs into my projects using CSS.</p>
                    </div>
                    <div class="grid_item">
                        <h2>Find my socials:</h2>
                    </div>
                    <div class="grid_item">
                        <a href="https://github.com/annawils441"><img class="logo" src="/static/images/githublogo.svg"></a>
                        <a href="https://www.linkedin.com/in/anna-wilson-7146302a4/"><img class="logo" src="/static/images/linkedin.png"></a>
                        <a href="mailto:annawils441@gmail.com"><img class="logo" src="/static/images/gmaillogo.jpg"></a>
                    </div>
                </div>
            </div>
    </body>
</html>